<p>Admin shell</p>


<form novalidate [formGroup]="movieForm">

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="displayMessage['date']">
      {{ displayMessage['date'] }}
    </mat-error>
  </mat-form-field>

  <div formArrayName="movies" *ngFor="let movie of movies.controls; let i=index">
    <div [formGroupName]="i" class="eachMovie">

      <mat-form-field class="form-element">
        <mat-label attr.for="{{'movieId_' + i}}">Name of Movie</mat-label>
        <input matInput id="{{'movieId_' + i}}" placeholder="Interstellar" formControlName="name">
        <mat-error *ngIf="displayMessage[i] && displayMessage[i]['name'].length > 0">
          {{ displayMessage[i]['name'] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label attr.for="{{'movieId_' + i}}">Genre</mat-label>
        <input matInput id="{{'movieId_' + i}}" placeholder="Comedy" formControlName="genre">
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label attr.for="{{'movieId_' + i}}">Time</mat-label>
        <input matInput id="{{'movieId_' + i}}" placeholder="Morning/Matinee/Evening" formControlName="time">
        <mat-error *ngIf="displayMessage[i] && displayMessage[i]['time'].length > 0">
          {{ displayMessage[i]['time'] }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <button mat-button (click)="addMovie()">Add Movie!</button>
  <!-- courtesy @DeveloperShubo, either preventDefault(), or the below:  -->
  <!-- <a href="javascript:void(0)" mat-button (click)="addMovie()">Add Movie!</a> -->
  <button mat-button type="submit" (click)="save()">Submit</button>

</form>
